# What is API?
: This are data pipeline

In [2]:
import pandas as pd
import requests

In [4]:
response=requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=2234cda012e52526ee792fda591639f4&language=en-US&page=1")

In [13]:
df=pd.DataFrame(response.json()['results'])[['id','title','overview','popularity','release_date','vote_average','vote_count']]

In [14]:
df.head()

,id,title,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,79.714,1994-09-23,8.7,21647
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",17.367,1995-10-19,8.7,3694
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",74.907,1972-03-14,8.7,16121
3,424,Schindler's List,The true story of how businessman Oskar Schind...,43.624,1993-11-30,8.6,12881
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,51.941,1974-12-20,8.6,9723

In [ ]:
empty_df=pd.DataFrame()

In [ ]:
for i in range(1,503):
    response=requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=2234cda012e52526ee792fda591639f4&language=en-US&page={}".format(i))
    temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','popularity','release_date','vote_average','vote_count']]
    empty_df.append(temp_df,ignore_index=True)

In [ ]:
empty_df